body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

form {
    width: 80%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}

.rating>input {
    display: none;
}

.rating>label {
    display: inline-block;
    padding: 5px;
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
}

.rating>input:checked~label,
.rating>input:checked~label~label {
    color: #ff8c00;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}